*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    border:2px ;
    display:grid;
    row-gap:20px;
    column-gap:10px;
    grid-template-columns:300px 300px 300px;
}

.box{
    border:2px ;
    padding: 20px;
}

.button{
    padding-right: 40px;
    padding-left: 20px;
    padding:10px 15px;
    padding-top: 15px;
    text-align: center;
    text-shadow: 0cap;
    text-decoration-color: blueviolet;
   background-color: rgb(52, 60, 173);
   color:white;
}